#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #0092A0 !important;
}

/* Decrease size of pagination bullets */
.slider1 .swiper-pagination-bullet {
  height: 0.4rem;
  width: 0.4rem;
}

