@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


.arabic {
    direction: rtl
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.tajawal {
    font-family: 'Tajawal';
  }

.poppins {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.dropzone {
    text-align: center;
    padding: 7.5rem;
    border: 3px #999999 dashed;
    width: 90%;
    margin: auto;
  }

.btn {
    border: none;
    text-align: center;
    background-color: rgb(218, 216, 216);
    height: 50px;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    transition-duration: 0.6s;
  }

.btn:hover {
    background-color: blue;
    color: aliceblue;
  }

.file-list {
    /* border: 3px dotted black; */
    display: flex !important;
    flex-wrap: wrap;
    width: auto;
    padding: 10px 20px;
    margin: 20px 30px;
    /* border: 3px dotted black; */
  }

.file-list img {
    height: 100%;
    width: 100px;
    padding-right: 10px;
    object-fit: cover;
  }

.swiper-pagination-bullet-active {
    background-color: #0092A0 !important;
    bottom: 10rem;
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: white;
  color: #0092A0;
}

.dfooter {
  font-family: 'Poppins', sans-serif;
}
